* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $background;
  display: flex;
  font-family: 'Plaster', cursive;
  overflow: hidden;
}